body {
    background-color: #edf2f7;
}
button {
    background-color: #4AB59F;
    float: right;
    margin-right: 20px;
    border-radius: 15px;
    color: white;
    font-size: 9px;
    padding: 6px 5px;
    border-color: transparent;
}
input {
    margin-top: 10px;
    width: 90%;
    height: 50px;
    border: 2px solid #737378;
    border-radius: 15px;
}
.tweet__me, .tweet {
    margin-top: 10px;
    height: 26vh;
    background-color: #fff;
}
.img_me, .img_other {
    margin-bottom: 30px;
    width: 5%;
    border-radius: 50%;
}
.img_other {
    margin-left: 10px;
    margin-top: 10px;
}